.bb {
  top: -20px;
}

.bs {
  background-image: url("/public/img/profile-pic.png");
  background-repeat: no-repeat;
  /* top: 20px; */
}

.bs:hover {
  background-image: url("/public/img/hover.png");
  background-repeat: no-repeat;
  /* top: 20px; */
}
